@import "var";
@import "mixin";

.ui-badge {
	@include inlineFlexCenter;
	height: 28px;
	padding: 0 8px;
	border-radius: 4px;
	@include borderStyle;
	background-color: $gray0;
	font-size: 13px;
	text-align: center;
	line-height: 26px;
	&.primary {
		border: 1px solid $primary;
		color: $primary;
	}

	&.small {
		height: 20px;
		font-size: 12px;
	}
	&.large {
		position: relative;
		height: 30px;
		font-size: 14px;
		font-weight: 700;
	}
}
