@import "var";
@import "mixin";

html,
body {
	height: 100%;
}
body {
	color: $gray90;
	background-color: $gray0;
	color: $gray80;
	font-size: 13px;
	font-weight: 400;
	font-family: "Spoqa Han Sans Neo", "sans-serif";
	letter-spacing: -0.5px;
	line-height: 1.5;
	word-break: break-all;
}
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
img {
	max-width: 100%;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,
select,
button,
ul {
	border: 0;
	outline: 0;
}
ul {
	list-style: none;
}
button {
	background-color: transparent;
	cursor: pointer;
}
:disabled,
.disabled {
	cursor: not-allowed;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}
.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	color: transparent;
}
.block {
	display: block;
}
a {
	color: $gray90;
	text-decoration: none;
}
em {
	font-style: normal;
}
.h2-title {
	color: $gray90;
	font-size: 24px;
}
.h3-title {
	color: $gray90;
	font-size: 20px;
	em {
		font-weight: 700;
	}
}
.h4-title {
	color: $gray90;
	font-size: 16px;
}
.h5-title {
	color: $gray90;
	font-size: 14px;
}
.caption-text {
	color: $gray50;
	font-size: 12px;
}
.block {
	display: block;
}
.star {
	&::after {
		content: "*";
		margin-left: 5px;
		color: $primary;
	}
}
table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}
caption {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	color: transparent;
}
.mt10 {
	margin-top: 10px;
}
.mt30 {
	margin-top: 30px;
}

.title-wrap {
	display: flex;
	margin-bottom: 10px;
	.caption-text {
		display: inline-block;
		margin-left: 6px;
		font-weight: 400;
		&.primary {
			color: $primary;
		}
	}
	.right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex: 1;
		&-item:not(:last-child) {
			margin-right: 10px;
		}
	}
	.ui-btn-group {
		margin-left: 5px;
	}
}

// 공통
.ui-box {
	border-radius: 8px;
	background-color: $gray0;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
	.ui-tab-cont {
		padding: 15px;
	}
}

// 상단 조회기간, 카테고리
.category {
	.row {
		display: flex;
		align-items: center;
		padding: 16px 0;
		margin: 0 16px;
		&:not(:last-child) {
			border-bottom: 1px solid $gray30;
		}
	}
	.left {
		width: 60px;
		margin-right: 16px;
		&.tit-top {
			align-self: flex-start;
		}
	}
	.right {
		width: calc(100% - 76px);
	}
	.tit {
		display: inline-block;
		color: $gray90;
	}
	.ui-dropdown-group {
		display: flex;
		.ui-dropdown {
			max-width: 300px;
			&:not(:last-child) {
				margin-right: 8px;
			}
		}
	}
	.product-code {
		display: flex;
		.text-input {
			width: calc(100% - 156px);
		}
		.file-group {
			width: 140px;
			margin-left: 16px;
			li {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
			.ui-file {
				width: 100%;
			}
			.ui-btn {
				width: 100%;
				margin-right: 0;
			}
		}
	}
}
// 날짜 조회
.date-picker {
	display: flex;
	align-items: flex-start;
	.ui-btn-group {
		margin-right: 8px;
	}
	.text-input-group {
		display: flex;
	}
	.tilde {
		@include flexCenter;
		height: 40px;
		margin: 0 8px;
	}
}
// 데이터 박스
.data {
	display: table;
	width: 100%;
	padding: 16px 0;
	&.cell-2 {
		.data-cell {
			width: 50%;
		}
	}
	&.cell-3 {
		.data-cell {
			width: 33.33334%;
		}
	}
	&.cell-4 {
		.data-cell {
			width: 25%;
		}
	}
	&.cell-5 {
		.data-cell {
			width: 20%;
		}
	}
	&.cell-6 {
		.data-cell {
			width: 16.66666%;
		}
	}
	&-cell {
		display: table-cell;
		position: relative;
		padding: 0 20px;
		&:not(:last-child) {
			border-right: 1px solid $gray20;
		}
	}
	.tit {
		display: block;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -8px;
		margin-right: -8px;
		.col {
			padding: 0 8px;
		}
		&.col-2 {
			.col {
				width: 50%;
			}
		}
	}
	.name {
		display: block;
		margin-top: 8px;
		color: $gray60;
		font-size: 12px;
		@include ellipsis;
	}
	.num {
		display: inline-block;
		margin-top: 4px;
		margin-bottom: 4px;
		font-size: 20px;
		font-weight: 700;
	}
	.txt {
		display: inline-block;
		margin-right: 6px;
		color: $gray60;
		font-size: 12px;
	}
	.profit-num {
		display: inline-block;
		color: $primary;
		font-size: 12px;
		font-weight: 700;
		&.up {
			color: $error;
			&::after {
				content: "";
				display: inline-block;
				width: 10px;
				height: 10px;
				margin-left: 5px;
				@include iconUrl(icon-up);
				vertical-align: middle;
			}
		}
		&.down {
			color: $primary;
			&::after {
				content: "";
				display: inline-block;
				width: 10px;
				height: 10px;
				margin-left: 5px;
				@include iconUrl(icon-down);
				vertical-align: middle;
			}
		}
	}
}

// 차트 영역
.chart {
	&-row {
		padding: 20px 20px 0;
		&:last-child {
			padding-bottom: 20px;
		}
	}
	&-name {
		color: $gray90;
		margin-bottom: 20px;
	}
	&-area {
		height: 50px;
		background-color: rgba(0, 227, 150, 0.85);
	}
}

// 탭
.ui-tab-cont {
	.chart-row {
		padding: 0;
	}
	.inner-tab {
		.ui-tab {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

// 없는 케이스
.empty-case {
	@include flexCenter;
	height: 240px;
	.empty-message {
		text-align: center;
	}
	.icon-exclamation-circle-40 {
		margin-bottom: 6px;
	}
	.text {
		em {
			display: block;
			margin-bottom: 2px;
			color: $gray90;
		}
	}
}
