@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin inlineFlexCenter {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
@mixin positionCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}
@mixin clearBoth {
	content: "";
	display: block;
	clear: both;
}
@mixin borderStyle {
	border: 1px solid $gray30;
}
@mixin disableStyle {
	color: $gray40;
	background-color: $gray20;
	cursor: not-allowed;
}
@mixin ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
@mixin multilines($number) {
	display: -webkit-box;
	// max-width: $width;
	-webkit-line-clamp: ($number);
	-webkit-box-orient: vertical;
	overflow: hidden;
}
@mixin boxShadow {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);
}
@mixin iconUrl($name) {
	$url: "../icons/#{$name}.svg";
	background: url($url) no-repeat;
	background-size: contain;
}
