@import "var";
@import "mixin";

.ui-modal {
	height: 100%;
	.bg-dim {
		z-index: 100;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($gray100, 0.5);
	}
	&-content {
		z-index: 101;
		@include positionCenter;
		min-width: 298px;
		border-radius: 8px;
		background-color: $gray0;
	}
	&-head {
		display: inline-flex;
		align-items: center;
		width: 100%;
		height: 68px;
		padding: 0 20px;
		border-bottom: 1px solid $gray30;
		.h4-title {
			@include multilines(2);
			width: calc(100% - 30px);
		}
		.btn-modal-close {
			position: absolute;
			right: 20px;
			top: 20px;
			width: 20px;
			height: 20px;
		}
	}
	&-body {
		max-height: calc(100vh - 400px);
		padding: 16px 20px 28px;
		overflow-y: auto;
		.comment {
			margin-bottom: 10px;
		}
	}
	&-bottom {
		padding: 10px 20px 16px;
		.btn-modal-group {
			margin-top: 0;
		}
	}
	.btn-modal-group {
		.ui-btn {
			width: 100%;
		}
		&.btn-2 {
			display: flex;
			.ui-btn {
				width: calc(100% - 110px);
				&:first-child {
					width: 100px;
					margin-right: 10px;
				}
			}
		}
	}
}

.select-brand {
	width: 298px;
	.gray-box {
		padding: 18px;
		border-radius: 4px;
		background-color: $gray10;
	}
	&-list {
		li:not(:last-child) {
			margin-bottom: 14px;
		}
	}
	.btn-modal-group {
		margin-top: 10px;
	}
}
