@import "var";
@import "mixin";

.ui-popover {
	.ui-popover-menu {
		min-width: 136px;
		// width: 150px;
		padding: 8px;
		border-radius: 8px;
		background-color: $gray0;
		@include boxShadow;
		li {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				right: 0;
				top: 8px;
				width: 24px;
				height: 24px;
				margin-left: 8px;
				@include iconUrl(icon-chevron);
				cursor: pointer;
			}
			&:hover {
				border-radius: 4px;
				background-color: $gray10;
				@include ellipsis;
			}
			&.active::after {
				content: "";
				position: absolute;
				left: -8px;
				top: 0;
				width: 3px;
				height: 100%;
				background-color: $primary;
			}
			&.disabled {
				.menu-item,
				.sub-txt {
					color: $gray50;
					cursor: not-allowed;
				}
			}
		}
		.menu-item {
			display: block;
			min-height: 40px;
			max-height: 60px;
			padding: 10px 8px;
			font-size: 13px;
			.sub-txt {
				display: block;
				color: $gray60;
				font-size: 12px;
			}
		}
		.menu-item,
		.sub-txt {
			width: calc(100% - 24px);
			@include ellipsis;
		}
	}
	// 2뎁스 메뉴
	&.depth-2 {
		// display: none;
		z-index: 10;
		// position: absolute;
		// right: -300px;
		// top: -8px;
		&.show {
			display: block;
		}
		.ui-popover-menu {
			li {
				&::before {
					content: none;
				}
				&:first-child {
					padding-left: 24px;
					margin-left: -8px;
					margin-right: -8px;
					border-bottom: 1px solid $gray30;
					.menu-item {
						color: $gray60;
					}
					&::after {
						content: "";
						position: absolute;
						left: 8px;
						top: 8px;
						width: 24px;
						height: 24px;
						@include iconUrl(icon-chevron);
						transform: rotate(-180deg);
					}
				}
			}
			.menu-item {
				width: 100%;
			}
		}
	}

	// 아이콘 있는 경우
	&.with-icon {
		.icon-user-circle {
			margin-right: 16px;
		}
	}

	// 체크 스타일
	&.check {
		.ui-popover-menu {
			li {
				&::before {
					content: none;
				}
				&.active {
					border-radius: 4px;
					border: 2px solid $primary;
					background-color: $gray0;
					&::after {
						content: "";
						position: absolute;
						left: auto;
						right: 8px;
						top: 50%;
						transform: translateY(-50%);
						width: 24px;
						height: 24px;
						@include iconUrl(icon-check-on);
					}
				}
			}
		}
	}
}
