@import "var";
@import "mixin";

.ui-side-note {
	&-title {
		margin-bottom: 4px;
		color: $gray50;
		font-size: 13px;
		em {
			font-weight: 700;
		}
	}
	&-wrap {
		.note {
			position: relative;
			padding-left: 10px;
			font-size: 12px;
			color: $gray50;
			&::after {
				content: "";
				position: absolute;
			}
			&.dot {
				&::after {
					display: block;
					left: 0;
					top: 7.5px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: $gray50;
				}
			}
			&.dash {
				&::after {
					content: "-";
					left: 0;
					top: 0;
				}
			}
			&.asterisk {
				&::after {
					content: "*";
					left: 0;
					top: 3px;
				}
			}
			em {
				color: $primary;
			}
		}
	}
}
