@import "var";
@import "mixin";

.ui-table {
	max-height: 500px;
	overflow: auto;
	border-radius: 8px;
	background-color: $gray0;
	// filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.05)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
	table {
		position: relative;
		font-size: 13px;
		thead,
		tbody {
			th:first-child,
			td:first-child {
				text-align: center;
			}
		}
		thead {
			z-index: 1;
			position: sticky;
			top: 0;
			border-radius: 8px 8px 0 0;
			background-color: $gray0;
			color: $gray50;
			font-size: 12px;
			box-shadow: inset 0px -1px 0px #e1e3e5;
		}
		tbody {
			tr {
				&:not(:last-child) td {
					box-shadow: inset 0px -1px 0px #e1e3e5;
				}
				&.highlight {
					background-color: rgba(0, 124, 255, 0.05);
				}
			}
		}
		tfoot {
			z-index: 1;
			position: sticky;
			bottom: 0;
			td {
				padding: 0;
				border-radius: 0 0 8px 8px;
				background-color: #fafafa;
				text-align: center;
			}
			.btn-view-all {
				width: 100%;
				height: 32px;
				border-top: 1px solid #e1e3e5;
				color: $gray50;
				&::after {
					content: "";
					display: inline-block;
					width: 20px;
					height: 20px;
					@include iconUrl(icon-arrow);
					vertical-align: middle;
				}
			}
		}
		th {
			font-size: 12px;
			font-weight: 400;
		}
		th,
		td {
			width: 20%;
			padding: 16px;
			text-align: left;
			@include ellipsis;
			// &:not(:last-child) {
			// 	border-right: 1px solid #e1e3e5;
			// }
		}
	}
}
